.div {
  background-color: blue;
  color: azure;
  padding-left: 10px;
  padding-right: 10px;


}
.div2 {
  background-color: rgb(78, 2, 58);
  color: azure;
  padding-left: 10px;
  padding-right: 10px;

}
.div3 {
  background-color: rgb(2, 78, 43);
  color: azure;
  padding-left: 10px;
  padding-right: 10px;

}

